DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DATABASE?sslmode=require"
JWT_SECRET="troque-por-uma-chave-longa-e-segura-com-pelo-menos-32-caracteres"
AUTH_SECRET=""
ADMIN_DEFAULT_EMAIL="admin@isam.org"
ASSISTANT_DEFAULT_EMAIL="assistente@isam.org"
ADMIN_DEFAULT_PASSWORD="defina-uma-senha-segura-para-o-admin"
ASSISTANT_DEFAULT_PASSWORD="defina-uma-senha-segura-para-o-assistente"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
